<section class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    <!-- @Header -->
    <header (openCreateModal)='handleCreateModal()' (filterModal)='handleFilterModal()'
        [isLoading]="(dataLoading$ | async)">
    </header>


    <main class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 cdkScrollable overflow-y-auto sm:overflow-y-auto">
            <ng-container *ngIf="(dataSource$ | async)?.length;else noEntitiy">
                <!-- @Employee List -->
                <app-employee-list [dataSources]="dataSource$" (edit)="handleEdit($event)"
                    (delete)="handleDeleteModal($event)" (moreInfo)="handleMoreInfo($event)"></app-employee-list>

                <!-- @Paginator -->
                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': (dataLoading$ | async)}" [length]="totalDataCount$ | async"
                    [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                    (page)="getNewData()">
                </mat-paginator>
            </ng-container>

            <!-- @No Data Found Section -->
            <ng-template #noEntitiy>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                    data!</div>
            </ng-template>

        </div>
    </main>


</section>



<!-- @Partials -->

<!-- EMPLOYEE CREATE FORM -->
<ng-template #createForm>
    <section>
        <!-- Header` -->
        <h2 mat-dialog-title>EMPLOYEE DETAILS</h2>
        <!-- Body`` -->
        <mat-dialog-content class="mat-typography">
            <form class="flex flex-row w-full" [formGroup]="formInstance">
                <div class="w-full">
                    <div class="flex gap-2 w-full">

                        <!-- Name` -->
                        <mat-form-field class="w-full">
                            <mat-label>Full Name</mat-label>
                            <input matInput [formControlName]="'full_name'">
                        </mat-form-field>

                    </div>
                    <div class="flex gap-2 w-full">
                        <div class="flex flex-col w-6/12">
                            <!-- Company List -->
                            <mat-form-field class="w-full">
                                <mat-label>Company</mat-label>
                                <mat-select [formControlName]="'company_id'"
                                    (selectionChange)="onChangeOption('company_id')">
                                    <ng-container *ngIf="(companyList$ | async)?.length">
                                        <mat-option *ngFor="let company of companyList$ | async" [value]="company.id">
                                            {{company.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(companyList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- Location List -->
                            <mat-form-field class="w-full">
                                <mat-label>Location</mat-label>
                                <mat-select [formControlName]="'location_id'"
                                    (selectionChange)="onChangeLocationOption('location_id')">
                                    <ng-container *ngIf="(locationList$ | async)?.length">
                                        <mat-option *ngFor="let location of locationList$ | async"
                                            [value]="location.id">
                                            {{location.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(locationList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- Unit List -->
                            <mat-form-field class="w-full">
                                <mat-label>Unit</mat-label>
                                <mat-select [formControlName]="'unit_id'"
                                    (selectionChange)="onChangeUnitOption('unit_id')">
                                    <ng-container *ngIf="(unitList$ | async)?.length">
                                        <mat-option *ngFor="let unit of unitList$ | async" [value]="unit.id">
                                            {{unit.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(unitList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>


                            <!-- Division List -->
                            <mat-form-field class="w-full">
                                <mat-label>Division</mat-label>
                                <mat-select [formControlName]="'division_id'"
                                    (selectionChange)="onChangeDivisionOption('division_id')">
                                    <ng-container *ngIf="(divisionList$ | async)?.length">
                                        <mat-option *ngFor="let division of divisionList$ | async"
                                            [value]="division.id">
                                            {{division.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(divisionList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>


                            <!-- Department List -->
                            <mat-form-field class="w-full">
                                <mat-label>Department</mat-label>
                                <mat-select [formControlName]="'department_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- section_id List -->
                            <mat-form-field class="w-full">
                                <mat-label>Section</mat-label>
                                <mat-select [formControlName]="'section_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>


                            <!-- sub_section_id List -->
                            <mat-form-field class="w-full">
                                <mat-label>Sub Section</mat-label>
                                <mat-select [formControlName]="'sub_section_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>


                            <!-- designation_group_id List -->
                            <mat-form-field class="w-full">
                                <mat-label>Designation</mat-label>
                                <mat-select [formControlName]="'designation_group_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>


                            <!-- designation_group_id List -->
                            <mat-form-field class="w-full">
                                <mat-label>Designation Group</mat-label>
                                <mat-select [formControlName]="'designation_group_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- designation_id List -->
                            <mat-form-field class="w-full">
                                <mat-label>Designation</mat-label>
                                <mat-select [formControlName]="'designation_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- sub_designation_id List -->
                            <mat-form-field class="w-full">
                                <mat-label>Sub Designation</mat-label>
                                <mat-select [formControlName]="'sub_designation_id'">
                                    <ng-container *ngIf="(departmentList$ | async)?.length">
                                        <mat-option *ngFor="let department of departmentList$ | async"
                                            [value]="department.id">
                                            {{department.name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(departmentList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>



                        </div>
                        <div class="flex flex-col w-6/12">
                            <!-- Functional Superior List -->
                            <mat-form-field class="w-full">
                                <mat-label>Functional Superior</mat-label>
                                <mat-select [formControlName]="'functional_superior_id'">
                                    <ng-container *ngIf="(employeeList$ | async)?.length">
                                        <mat-option *ngFor="let employee of employeeList$ | async"
                                            [value]="employee.id">
                                            {{employee.full_name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(employeeList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- Admin Superior List -->
                            <mat-form-field class="w-full">
                                <mat-label>Admin Superior</mat-label>
                                <mat-select [formControlName]="'admin_superior_id'">
                                    <ng-container *ngIf="(employeeList$ | async)?.length">
                                        <mat-option *ngFor="let employee of employeeList$ | async"
                                            [value]="employee.id">
                                            {{employee.full_name}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(employeeList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- Weekend List -->
                            <mat-form-field class="w-full">
                                <mat-label>Weekend</mat-label>
                                <mat-select [formControlName]="'weekend'">
                                    <ng-container *ngIf="(weekDaysList$ | async)?.length">
                                        <mat-option *ngFor="let day of weekDaysList$ | async" [value]="day">
                                            {{day}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(weekDaysList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- Additional Weekend List -->
                            <mat-form-field class="w-full">
                                <mat-label>Additional Weekend</mat-label>
                                <mat-select [formControlName]="'additional_weekend'">
                                    <ng-container *ngIf="(weekDaysList$ | async)?.length">
                                        <mat-option *ngFor="let day of weekDaysList$ | async" [value]="day">
                                            {{day}}
                                        </mat-option>
                                    </ng-container>

                                    <ng-container *ngIf="!(weekDaysList$ | async)?.length">
                                        <mat-option>No Data</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                            <!-- employee_grade -->
                            <mat-form-field class="w-full">
                                <mat-label>Grade</mat-label>
                                <input matInput [formControlName]="'employee_grade'">
                            </mat-form-field>

                            <!-- over_duty -->
                            <mat-form-field class="w-full">
                                <mat-label>Overduty</mat-label>
                                <input matInput [formControlName]="'over_duty'">
                            </mat-form-field>

                            <!-- salary_type -->
                            <mat-form-field class="w-full">
                                <mat-label>Salary Type</mat-label>
                                <input matInput [formControlName]="'salary_type'">
                            </mat-form-field>

                            <!-- reference_name -->
                            <mat-form-field class="w-full">
                                <mat-label>Reference Name</mat-label>
                                <input matInput [formControlName]="'reference_name'">
                            </mat-form-field>

                            <!-- Joining Date -->
                            <mat-form-field class="w-full">
                                <mat-label>Joining Date</mat-label>
                                <input matInput [matDatepicker]="joining_date_picker" [formControlName]="'joining_date'"
                                    [placeholder]="'Choose a date'">

                                <mat-datepicker-toggle matSuffix [for]="joining_date_picker"></mat-datepicker-toggle>
                                <mat-datepicker #joining_date_picker></mat-datepicker>

                            </mat-form-field>

                            <!-- confirmation_date -->
                            <mat-form-field class="w-full">
                                <mat-label>Confirmation Date</mat-label>
                                <input matInput [matDatepicker]="confirmation_date_picker"
                                    [formControlName]="'confirmation_date'" [placeholder]="'Choose a date'">

                                <mat-datepicker-toggle matSuffix [for]="confirmation_date_picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #confirmation_date_picker></mat-datepicker>

                            </mat-form-field>

                        </div>
                    </div>

                    <div class="flex">
                        <div class="flex flex-col w-4/12">


                            <mat-label>Attendance info restricted</mat-label>
                            <mat-radio-group aria-label="Select an option"
                                [formControlName]="'attendance_info_restricted'">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>


                        </div>
                        <div class="flex flex-col w-4/12">

                            <mat-label>Salary info restricted</mat-label>
                            <mat-radio-group aria-label="Select an option" [formControlName]="'salary_info_restricted'">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="flex flex-col w-4/12">

                            <span class="font-semibold mb-2">Status</span>
                            <mat-slide-toggle [formControlName]="'status'" [color]="'primary'">
                                {{formInstance.get('status').value === true ?
                                'Active' : 'Inactive'}}
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <div class="flex gap-2 w-full">


                        <mat-form-field class="fuse-mat-textarea flex-auto w-full">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput [formControlName]="'remark'" fuseAutogrow></textarea>
                        </mat-form-field>
                    </div>


                </div>
            </form>
        </mat-dialog-content>

        <!-- Action -->
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close (click)="onCancel()">CANCEL</button>
            <button mat-flat-button [color]="'primary'" (click)="handleSavingOperation()"
                [disabled]="!formInstance.valid || isLoading"><span>SAVE</span>
                <btn-loader *ngIf="isLoading"></btn-loader>
            </button>
        </mat-dialog-actions>
    </section>
</ng-template>


<!-- DELETE ALERT -->
<ng-template #confirmationModal>
    <div class="flex flex-col w-full h-full">

        <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start ">
            <div
                class="flex flex-0 items-center justify-center w-10 h-10 sm:mr-4 rounded-full text-warn-600 bg-warn-100 dark:text-warn-50 dark:bg-warn-600">
                <mat-icon svgIcon="heroicons_outline:exclamation" color="warn"></mat-icon>
            </div>
            <div
                class="flex flex-col items-center sm:items-start mt-4 sm:mt-0 sm:pr-8 space-y-1 text-center sm:text-left ng-star-inserted">
                <div class="text-xl leading-6 font-medium ng-star-inserted">Remove entity</div>

                <div class="text-secondary ng-star-inserted">Are you sure you want to remove this entity permanently?
                    <span class="font-medium">This action cannot be undone!</span>
                </div>
            </div>
        </div>

        <div
            class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10 absolute left-0 bottom-0 right-0">
            <button mat-stroked-button mat-dialog-close>Cancel</button>
            <button mat-flat-button color="warn" cdkFocusInitial (click)="handleSavingOperation()">
                <span>Remove</span>
                <btn-loader *ngIf="isLoading"></btn-loader>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #filterForm>
    <!-- Header` -->
    <h2 mat-dialog-title>Filter Employee Data</h2>
    <!-- Body`` -->
    <mat-dialog-content class="mat-typography">
        <form class="flex flex-row w-full" [formGroup]="filterFormInstance">
            <div class="w-full">
                <div class="flex gap-2 w-full">
                    <div class="flex flex-col w-8/12">
                        <!-- Name` -->
                        <mat-form-field class="w-full">
                            <mat-label>Employee Name / ID</mat-label>
                            <input matInput [formControlName]="'name_id'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-4/12">
                        <mat-label>Status</mat-label>
                        <mat-radio-group color="primary" class="pt-3" aria-label="Select an option" [formControlName]="'status'">
                            <mat-radio-button value="active">Active</mat-radio-button>
                            <mat-radio-button value="inactive">Inactive</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
                <div class="flex gap-2 w-full">
                    <div class="flex flex-col w-4/12">
                        <!-- Company List -->
                        <mat-form-field class="w-full">
                            <mat-label>Company</mat-label>
                            <mat-select [formControlName]="'company_id'"
                                (selectionChange)="onChangeOption('company_id')">
                                <ng-container *ngIf="(companyList$ | async)?.length">
                                    <mat-option *ngFor="let company of companyList$ | async" [value]="company.id">
                                        {{company.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(companyList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <!-- Location List -->
                        <mat-form-field class="w-full">
                            <mat-label>Location</mat-label>
                            <mat-select [formControlName]="'location_id'"
                                (selectionChange)="onChangeLocationOption('location_id')">
                                <ng-container *ngIf="(locationList$ | async)?.length">
                                    <mat-option *ngFor="let location of locationList$ | async" [value]="location.id">
                                        {{location.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(locationList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <!-- Unit List -->
                        <mat-form-field class="w-full">
                            <mat-label>Unit</mat-label>
                            <mat-select [formControlName]="'unit_id'" (selectionChange)="onChangeUnitOption('unit_id')">
                                <ng-container *ngIf="(unitList$ | async)?.length">
                                    <mat-option *ngFor="let unit of unitList$ | async" [value]="unit.id">
                                        {{unit.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(unitList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>


                    </div>
                    <div class="flex flex-col w-4/12">
                        <!-- Division List -->
                        <mat-form-field class="w-full">
                            <mat-label>Division</mat-label>
                            <mat-select [formControlName]="'division_id'"
                                (selectionChange)="onChangeDivisionOption('division_id')">
                                <ng-container *ngIf="(divisionList$ | async)?.length">
                                    <mat-option *ngFor="let division of divisionList$ | async" [value]="division.id">
                                        {{division.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(divisionList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>


                        <!-- Department List -->
                        <mat-form-field class="w-full">
                            <mat-label>Department</mat-label>
                            <mat-select [formControlName]="'department_id'">
                                <ng-container *ngIf="(departmentList$ | async)?.length">
                                    <mat-option *ngFor="let department of departmentList$ | async"
                                        [value]="department.id">
                                        {{department.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(departmentList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <!-- section_id List -->
                        <mat-form-field class="w-full">
                            <mat-label>Section</mat-label>
                            <mat-select [formControlName]="'section_id'">
                                <ng-container *ngIf="(departmentList$ | async)?.length">
                                    <mat-option *ngFor="let department of departmentList$ | async"
                                        [value]="department.id">
                                        {{department.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(departmentList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-4/12">

                        <!-- sub_section_id List -->
                        <mat-form-field class="w-full">
                            <mat-label>Sub Section</mat-label>
                            <mat-select [formControlName]="'sub_section_id'">
                                <ng-container *ngIf="(departmentList$ | async)?.length">
                                    <mat-option *ngFor="let department of departmentList$ | async"
                                        [value]="department.id">
                                        {{department.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(departmentList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>


                        <!-- designation_group_id List -->
                        <mat-form-field class="w-full">
                            <mat-label>Designation</mat-label>
                            <mat-select [formControlName]="'designation_group_id'">
                                <ng-container *ngIf="(departmentList$ | async)?.length">
                                    <mat-option *ngFor="let department of departmentList$ | async"
                                        [value]="department.id">
                                        {{department.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(departmentList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>


                        <!-- designation_group_id List -->
                        <mat-form-field class="w-full">
                            <mat-label>Designation Group</mat-label>
                            <mat-select [formControlName]="'designation_group_id'">
                                <ng-container *ngIf="(departmentList$ | async)?.length">
                                    <mat-option *ngFor="let department of departmentList$ | async"
                                        [value]="department.id">
                                        {{department.name}}
                                    </mat-option>
                                </ng-container>

                                <ng-container *ngIf="!(departmentList$ | async)?.length">
                                    <mat-option>No Data</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>


            </div>
        </form>
    </mat-dialog-content>

    <!-- Action -->
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)="onCancel()">CANCEL</button>
        <button mat-flat-button [color]="'primary'" (click)="handleFilterOperation()"><span>Get Filtered Data</span>
            <btn-loader *ngIf="isLoading"></btn-loader>
        </button>
    </mat-dialog-actions>
</ng-template>